<div class="users-container w-75 d-flex mx-auto justify-content-around align-items-center border-bottom py-3">
  ユーザー一覧
</div>

<div class="profile-container w-75 mx-auto align-items-center py-3">
  <% @users.each do |user| %>
  <div class="row align-items-center mx-auto my-3">
    <div class="col-lg-4 col-md-4">
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class:"rounded-circle" %>
    </div>
    <div class="col-lg-4 col-md-4">
      <%= user.name %>
    </div>
    <div class="col-lg-4 col-md-4">
      <% unless current_user == user %>
        <% if current_user.following?(user) %>
          <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
            <%= hidden_field_tag :follow_id, user.id %>
            <%= f.submit 'フォロー中', class: 'btn btn-info btn-block' %>
          <% end %>
        <% else %>
          <%= form_for(current_user.relationships.build) do |f| %>
            <%= hidden_field_tag :follow_id, user.id %>
            <%= f.submit 'フォローする', class: 'btn btn-outline-info btn-block' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>