<div class="containar">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">ユーザーログイン</h5>
      <div class="form-body p-4">
        <p class="mx-auto">
          メールアドレスと<br>
          パスワードを入力してください。
        </p>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
          </div>
          <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", placeholder:"メールアドレス" %>
        </div>
      
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
          </div>
          <%= f.password_field :password, class:"form-control", autocomplete: "new-password", placeholder:"パスワード" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
              
        <div class="actions">
          <%= f.submit "サインイン", class:'btn btn-lg btn-block btn-info mt-4' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>